@import "src/styles/variables.scss";

.header__user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  a {
    text-decoration: none;
    text-decoration: none;
    font-family: $font-sans-serif;
    font-size: 16px;
    color: $color-gray;
    margin-right: 10px;
    display: inline-block;
    &:last-child {
      margin-right: 0;
    }
    @media #{$viewport-medium} {
      margin-right: 30px;
    }
  }
  img {
    width: 16px;
    position: relative;
    top: 2px;
  }
}

.header__login-link {
  text-decoration: none;
  font-family: $font-sans-serif;
  font-size: 16px;
  color: $color-gray;
}

