@import "src/styles/variables.scss";

.column-copy {
  padding: 40px 20px;
  color: $color-black;
  display: flex;
  flex-flow: column nowrap;

  &.dark {
    color: $color-white;
  }

  @media #{$viewport-medium} {
    flex-flow: row nowrap;
    padding: 60px 40px;
    justify-content: space-evenly;
  }

  .col {
    flex: 1 0 37%;

    @media #{$viewport-medium} {
      max-width: 37%;
    }

    @media #{$viewport-large} {
      max-width: 417px;
    }

    &:first-child {
      margin-top: 0;
    }

    p {
      font-family: $font-sans-serif;
      font-size: 13px;
      margin: 5px auto 20px;
    }
  }
}
