@import 'src/styles/variables.scss';

.column-copy-single {
  padding: 0 20px;
  color: $color-light-black;
  font-family: $font-serif;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-bg-light;
  &.dark {
    background-color: $color-black;
    color: $color-white;
    .column-copy-single {
      background-color: $color-black;
      color: $color-white;
    }
  }
  .column-copy-single {
    width: 100%;
    @media #{$viewport-medium} {
      width: 485px;
    }
    @media #{$viewport-large} {
      width: 500px;
    }
  }
}
