@import "src/styles/variables.scss";

.reset-password {
  display: block;
  grid-template-columns: 1fr 1fr;
  column-gap: 64px;
  font-family: $font-sans-serif;
  color: $color-darkgray;
  box-sizing: border-box;
  padding-bottom: 60px;
  padding: 20px;
  box-sizing: border-box;
  @media #{$viewport-medium} {
    display: grid;
  }
  .reset-password__update__button {
    padding: 1rem;
    box-sizing: border-box;
    background-color: $color-darkgray;
    color: $color-white;
    font-family: $font-sans-serif;
    border-radius: 3px;
    width: 100%;
    margin-top: 20px;
    text-transform: uppercase;
    @media #{$viewport-medium} {
      width: 60%;
    }
  }
  .reset-password__email-notice {
    color: $color-success;
    margin-top: 20px;
  }
}
