@import "src/styles/variables.scss";

.language-container {
  position: relative;
  width: 100px;
  height: 100%;
  
  .language__selected-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: none;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.4s ease;
    border-radius: 3px;

    &.open {
      background-color: $color-white;
      width: 250px;
      z-index: 100;
      box-shadow: 0 10px 9px 0 rgba(0, 0, 0, 0.1);
      &.dark {
        background-color: $color-black;
        box-shadow: 0 10px 9px 0 rgba(255, 255, 255, 0.1);
      }
    }
  
  }
  .language__selected {
    height: $header-height;
    min-height: $header-height;
    width: 100%;
    color: $color-gray;
    font-family: $font-sans-serif;
    font-size: 16px;
    font-weight: $sans-serif-semibold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    box-sizing: border-box;
  }
  .language__dropdown {
    padding: 0;
    margin: 0;
    background-color: $color-white;
    width: 100%;
    color: $color-black;
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
    &.dark {
      background-color: $color-black;
    }
    &.open {
      height: 215px;
      padding: 25px 0 40px 0;
    }
    li {
      list-style: none;
      text-align: center;
      padding: 15px;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
      span {
        text-decoration: none;
        color: $color-cutline;
        font-family: $font-sans-serif;
        font-size: 16px;
        font-weight: $sans-serif-semibold;
        line-height: 20px;
      }
    }
  }
}

