@import "src/styles/variables.scss";

.language-container {
  position: relative;
  @media #{$viewport-medium} {
    margin-right: 25px;
  }
  .language__selected {
    color: $color-gray;
    font-family: $font-sans-serif;
    font-size: 16px;
    font-weight: $sans-serif-semibold;
    cursor: pointer;
    width: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
    box-sizing: border-box;
    @media #{$viewport-medium} {
      width: 100px;
    }
  }
  .language__dropdown {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    padding: 0;
    margin: 0;
    background-color: #fff;
    width: 150%;
    box-shadow: 0 5px 10px 1px $color-gray;
    transform: translateX(-50%);
    left: 50%;
    color: $color-black;
    @media #{$viewport-medium} {
      width: 120%;
    }
    &.dark {
      background-color: $color-black;
      box-shadow: 0 5px 10px 1px $color-darkgray;
    }
    li {
      list-style: none;
      text-align: center;
      padding: 5px 10px;
      cursor: pointer;
      &:hover {
        background-color: $color-lightgray;
      }
      span {
        text-decoration: none;
        font-family: $font-sans-serif;
        font-size: 16px;
        font-weight: $sans-serif-semibold;
        color: $color-gray;
      }
    }
  }
}

