@import "src/styles/variables.scss";

.language-container {
  position: relative;
  width: 120px;
  height: 100%;
  margin-right: 22px;

  .language__selected-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: none;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.4s ease;
    border-radius: 3px;
    
    .language__selected__border{
      border: 3px solid red;
      min-width: 115px;
      padding: 6px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      &.border-transparent {
        border: 3px solid transparent;
      }
      &.border-orange {
        border: 3px solid orange;
      }
    }

    &.open {
      background-color: $color-white;
      width: 250px;
      z-index: 100;
      box-shadow: 0 10px 9px 0 rgba(0, 0, 0, 0.1);
      &.dark {
        background-color: $color-black;
        box-shadow: 0 10px 9px 0 rgba(255, 255, 255, 0.1);
      }
    }
  
  }
  .language__selected {
    height: $header-height;
    min-height: $header-height;
    width: 100%;
    color: $color-gray;
    font-family: $font-sans-serif;
    font-size: 16px;
    font-weight: $sans-serif-semibold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    box-sizing: border-box;
    span {
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
  .language__dropdown {
    padding: 0;
    margin: 0;
    background-color: $color-white;
    width: 100%;
    color: $color-black;
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
    &.dark {
      background-color: $color-black;
    }
    &.open {
      height: 165px;
      padding: 20px 0 30px 0;
    }
    li {
      list-style: none;
      text-align: center;
      padding: 2px;
      cursor: pointer;
      &.en-lang {
        margin-bottom: 7px;
      }
      &:hover {
        opacity: 0.7;
      }
      div {
        text-decoration: none;
        color: $color-cutline;
        font-family: $font-sans-serif;
        font-size: 16px;
        font-weight: $sans-serif-semibold;
        padding: 4px 0;
        &.border-red {
          border: 3px solid red;
          padding: 4px 0;
          width: 115px;
          margin: 0 auto;
        }
        &.border-orange {
          border: 3px solid orange;
          padding: 4px 0;
          width: 115px;
          margin: 0 auto;
        }
      }
    }
  }
}

