@import 'src/styles/variables';

.fullscreen-article {
  position: relative;
  overflow: hidden;

  .fullscreen-article__body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    grid-template-columns: 1fr;
    align-items: flex-start;
    justify-content: center;
    color: $color-white;
    padding: 53px;
    text-align: center;

    @media #{$viewport-medium} {
      display: grid;
      grid-template-columns: 0.5fr;
      padding: 80px 40px;
    }

    @media #{$viewport-large} {
      grid-template-columns: 0.3fr;
      padding: 158px 55px;
    }

    &.top-left {
      align-items: flex-start;

      @media #{$viewport-medium} {
        justify-content: start;
        text-align: left;
      }
    }

    &.top-right {
      align-items: flex-start;
      @media #{$viewport-medium} {
        justify-content: end;
        text-align: left;
      }
    }

    &.bottom-left {
      align-items: flex-end;
      align-content: end;

      @media #{$viewport-medium} {
        justify-content: start;
        text-align: left;
      }
    }

    &.bottom-right {
      align-items: flex-end;
      align-content: end;

      @media #{$viewport-medium} {
        justify-content: flex-end;
        text-align: left;
      }
    }
  }
  .fullscreen-article__img-wrapper {
    margin: 0;
    overflow: hidden;
    .fullscreen-article__img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  

  .fullscreen-article__info {
    z-index: 10;
    position: relative;
    text-decoration: none;

    .fullscreen-article__info__category {
      font-family: $font-sans-serif;
      font-size: 10px;
      font-weight: $sans-serif-regular;
      line-height: 13px;
      text-transform: uppercase;
      color: $color-white;
    }

    .fullscreen-article__info__title {
      margin-top: 10px;
      font-family: $font-sans-serif;
      font-size: 24px;
      line-height: 32px;
      font-weight: $sans-serif-semibold;
      color: $color-white;

      @media #{$viewport-medium} {
        font-size: 32px;
        line-height: 40px;
      }
    }

    .fullscreen-article__info__description {
      margin-top: 20px;
      font-family: $font-serif;
      font-size: 13px;
      line-height: 22px;
      font-weight: $serif-regular;
      color: $color-white;

      @media #{$viewport-medium} {
        font-size: 15px;
      }
    }

    .fullscreen-article__info__more {
      margin-top: 20px;
      font-family: $font-sans-serif;
      font-size: 12px;
      font-weight: $sans-serif-bold;

      .fullscreen-article__info__more__link {
        color: $color-white;
        text-decoration: none;
      }
    }
  }
}
