@import "src/styles/variables";

.account-wrapper {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  padding-bottom: 60px;
  padding-top: $header-height;

  .account-container {
    display: none;
  }
  .reset-password {
    display: block;
    @media #{$viewport-medium} {
      display: grid;
      padding: 0;
    }
  }
  &.account--active {
    .account-container {
      display: block;
      @media #{$viewport-medium} {
        display: grid;
        padding: 0;
      }
    }
    .reset-password {
      display: none;
    } 
  }

  @media #{$viewport-medium} {
    width: 833px;
  }

  @media #{$viewport-large} {
    width: 876px;
  }

  .account__input {
    margin-bottom: 20px;
    width: 100%;
    input {
      color: $color-black;
      font-family: $font-sans-serif;
      font-size: 14px;
      line-height: 17px;
      border: 1px solid $color-darkgray;
      border-radius: 3px;
      width: 100%;
      padding: 16px 15px;
      box-sizing: border-box;
      outline: none;
      background: transparent;
      @media #{$viewport-medium} {
        border: 1px solid $color-account-gray;
      }
    }
    
    .account__input__select {
      border: 1px solid $color-darkgray;
      border-radius: 3px;
      padding-right: 10px;
      width: 100%;
      select {
        color: $color-black;
        font-family: $font-sans-serif;
        font-size: 14px;
        line-height: 17px;
        width: 100%;
        padding: 16px 15px;
        box-sizing: border-box;
        outline: none;
        background: transparent;
        border: none;
      }
    }
    @media #{$viewport-medium} {
      width: 83%;
    }
  }

  .account__title {
    color: $color-darkgray;
    font-family: $font-serif;
    font-size: 25px;
    font-weight: $sans-serif-regular;

    line-height: 31px;
    text-align: center;
    margin: 58px 0 49px 0;
    @media #{$viewport-medium} {
      font-size: 32px;
      line-height: 40px;
      margin: 98px 0 36px 0;
    }
    @media #{$viewport-large} {
      font-size: 48px;
      line-height: 60px;
    }
  }

  .account__description, .reset-password__description {
    color: $color-darkgray;
    font-family: $font-serif;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 60px;
    @media #{$viewport-medium} {
      margin-bottom: 0;
    }
  }

  .account__toggles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    .account__toggle {
      color: $color-account-gray;
      font-family: $font-sans-serif;
      font-size: 16px;
      font-weight: $sans-serif-semibold;
      line-height: 20px;
      margin: 0 20px;
      cursor: pointer;
      @media #{$viewport-medium} {
        margin: 0 50px;
      }
      &.account__toggle--active {
        color: $color-darkgray;
      }
    }
    @media #{$viewport-medium} {
      margin-bottom: 42px;
    }
  }
}

.signup__checkbox-container {
  color: $color-gray;
  font-family: $font-sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.privacy-notice-text {
  color:  $color-gray;
  font-family: $font-sans-serif;
  font-size: 14px;
  line-height: 21px;
  a {
    color: $color-black;
    margin-left: 5px;
  }
}
