@import "src/styles/variables";

.developing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 100px;
  input {
    padding: 10px;
    border: 1px solid #cbcbcb;
    box-shadow: 0 0 4px 1px #cbcbcb;
    transition: all 0.3s;
    outline: none;
    border-radius: 3px;
    font-family: $font-serif;
    margin-top: 50px;
    &:hover {
      box-shadow: 0 0 8px 2px #cbcbcb;
    }
  }
  button {
    border: none;
    background-color: $color-gold;
    border-radius: 3px;
    margin-top: 40px;
    padding: 12px 25px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: $font-serif;
  }
  div {
    color: red;
    font-family: $font-serif;
    
  }
}
