@import "src/styles/variables";

.login-signup-container {
  display: block;
  margin: 0 auto;
  .signup-container {
    display: block;
  }
  .login-container {
    display: none;
  }
  &.login--active {
    .signup-container {
      display: none;
    }
    .login-container {
      display: block;
    }
  }
  @media #{$viewport-medium} {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    width: 750px;
    .signup-container {
      display: block;
    }
    .login-container {
      display: block;
    }
    &.login--active {
      .signup-container {
        display: block;
      }
      .login-container {
        display: block;
      }
    }
  }

  @media #{$viewport-large} {
    column-gap: 112px;
    grid-template-columns: 0.85fr 1fr;
    width: 900px;
  }
}

