@import 'src/styles/variables';

.page-hero {
  position: relative;
  overflow: hidden;
  height: 100vh;

  .featured-image-container {
    height: 100%;
    width: 100%;
    position: relative;
    transition-property: transform;
    transition-duration: $hero-animation-duration;

    .featured-image {
      object-position: center center;
      object-fit: cover;
      height: 100%;
      width: 100%;
      max-width: 100%;
      transition: transform 3s ease-out;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) scale(1.1);

      &.loaded {
        transform: translateX(-50%) scale(1);
      }
    }
  }

  .page-hero__scroll-down {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

  .overlay {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
  }
}
