// Colors
$color-gold: #b3a97e;
$color-gray: #787276;

// Fonts
$font-bold: "libre_baskervillebold";
$font-italic: "libre_baskervilleitalic";
$font-regular: "libre_baskervilleregular";
$font-serif: Arial, Helvetica, sans-serif;
