@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

// Colors
$color-gold: #b3a97e;
$color-gray: #787276;
$color-black: #1b1b1b;

// Fonts
$font-serif: "Libre Baskerville", serif;
$font-sans-serif: "Inter", sans-serif;

// Font Weights
$serif-bold: 700;
$serif-regular: 400;
$sans-serif-light: 200;
$sans-serif-regular: 400;
$sans-serif-bold: 700;
