@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;600;700&display=swap');

// Fonts
$font-serif: 'Noto Serif SC', serif;
$font-sans-serif: 'Noto Sans SC', sans-serif;

// Font Weights
$serif-bold: 200;
$serif-regular: 200;
$sans-serif-thin: 100;
$sans-serif-light: 100;
$sans-serif-regular: 100;
$sans-serif-semibold: 100;
$sans-serif-medium: 100;
$sans-serif-bold: 100;
$chinese-font-bold: 700;
