@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

// Fonts
$font-sans-serif: 'Noto Sans TC', sans-serif;

// Font Weights
$serif-bold: 300;
$serif-regular: 300;
$sans-serif-thin: 300;
$sans-serif-light: 300;
$sans-serif-regular: 400;
$sans-serif-semibold: 600;
$sans-serif-medium: 600;
$sans-serif-bold: 700;
$chinese-font-bold: 700;
