// Used in components/Layout.js
@import 'swiper/swiper.scss';
@import 'variables';
@import 'normalize';

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  &,
  body {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;

    &.no-scroll {
      overflow: hidden;

      .swipe-wrapper {
        overflow: hidden !important;
      }

      .page-body {
        pointer-events: none;
      }
    }

  }

  &.no-scrolling {
    overflow: hidden;

    #main-wrapper {
      height: 100%;
      overflow: hidden;
    }
  }

  body {
    &.wrapper {
      margin: 0 auto;
      max-width: 1920px;
      background-color: $color-bg-light;

      &.dark {
        background-color: $color-black;
      }

      a {
        color: inherit;

        &:hover {
          text-decoration: none;
        }
      }
    }

    #main-wrapper {
      &.is-front-page {
        background-color: $color-lightgray;

        .swipe-container {
          position: relative;
        }
      }
    }

    .is-front-page {
      .tasting-notes__go-top {
        display: none;
      }

      .tasting-notes {
        border-top: none;
      }
    }

    button {
      border: none;
      outline: 0;
      background-color: transparent;
      padding: 0;
      cursor: pointer;
    }

    .cutline {
      color: #787276;
      font-family: $font-sans-serif;
      font-size: 13px;
      font-style: italic;
      text-align: center;

      @media #{$viewport-medium} {
        font-size: 10px;
      }
    }

    .page-body {
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease;
      transform: initial;
      z-index: 105;
      padding-top: $header-height;
      &.page-body--no-padding {
        padding-top: 0;
      }
      &.shifted {
        
        @media #{$viewport-medium} {
          transform: translateX($navbar-width);
        }
      }
    }
    .sidebar-open-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 102;
      background-color: $color-navbar-open-overlay-bg;
      opacity: 0.3;
      transition: opacity 0.4s;
      
      @media #{$viewport-medium} {
        opacity: .3;
        &.hidden {
          opacity: 0;
          pointer-events: none;
        }
      }
      &.hidden {
        opacity: 0;
        pointer-events: none;
      }
     
    }
  }

  // prevent saving of images 
  img:not(.footer-social-icon) {
    pointer-events: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }
  
}

.post-page-wrapper {
  // padding-top: $header-height;
}

.category-page-wrapper {
  // padding-top: $header-height;
}

@import './chinese_fonts.scss';
@import './chinese_fonts_tc.scss';
