@import "src/styles/variables";

.events-page {
  background-color: $color-lightgray;
  font-family: $font-sans-serif;
  padding-top: $header-height;
  .container {
    margin: 0 auto 0 auto;
    width: 100%;
    padding: 100px 20px 70px 20px;
    box-sizing: border-box;
    grid-template-columns: 0.9fr 1fr;
    column-gap: 30px;
    @media #{$viewport-medium} {
      width: 833px;
      padding: 100px 0 70px 0;
    }

    @media #{$viewport-large} {
      min-width: 1023px;
      width: auto;
      max-width: 1440px;
      display: grid;
      column-gap: 42px;
      padding: 55px;
    }
  }
  .events-page__img {
    min-height: 500px;
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    
    @media #{$viewport-medium} {
      min-height: 650px;
    }
    @media #{$viewport-large} {
      min-height: 700px;
    }
    @media #{$viewport-xlarge} {
      min-height: 808px;
    }
  }
  
  .events-page__body {
    .events-page__body__cutline {
      color: $color-darkgray;
      font-family: $font-sans-serif;
      font-size: 12px;
      line-height: 15px;
      margin-top: 10px;
      @media #{$viewport-large} {
        margin-top: 0;
      }
    }
    .events-page__body__title {
      color: $color-darkgray;
      font-family: $font-sans-serif;
      font-size: 24px;
      font-weight: $sans-serif-bold;
      line-height: 29px;
      margin-top: 18px;
    }
    .events-page__body__blocks {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 20px;
      height: auto;
      margin-top: 40px;
      @media #{$viewport-large} {
        display: grid;
        height: 160px;
        column-gap: 20px;
      }
      @media #{$viewport-xlarge} {
        display: grid;
        height: 189px;
        column-gap: 41px;
      }
      .events-page__body__block {
        background-color: $color-white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 20px 20px 20px 20px;
        font-weight: $sans-serif-bold;
        text-align: center;
        margin-top: 20px;
        max-width: 100%;
        @media #{$viewport-large} {
          margin-top: 0;
          padding: 20px 20px 20px 20px;
        }
        @media #{$viewport-xlarge} {
          padding: 50px 20px 20px 20px;
        }
        .events-page__body__block__icon {
          height: 23px;
        }
        .events-page__body__block__text {
          margin-toP: 20px;
          color: $color-gold;
          font-family: $font-sans-serif;
          font-size: 12px;
          font-weight: $sans-serif-medium;
          line-height: 17px;
        }
      }
    }
    .events-page__body__description {
      color: $color-cutline;
      font-family: $font-serif;
      font-size: 12px;
      line-height: 18px;
      margin-top: 45px;
    }
  }
  .events-page__controls-wrapper {
    margin: 0 auto 0 auto;
    box-sizing: border-box;
    @media #{$viewport-medium} {
      width: 833px;
    }
    @media #{$viewport-large} {
      min-width: 1023px;
      width: auto;
      max-width: 1440px;
    }
    .events-page__controls {
      border-top: 1px solid #D8D8D8;
      color: $color-darkgray;
      font-family: $font-sans-serif;
      font-size: 16px;
      font-weight: $sans-serif-medium;
      line-height: 20px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 0 100px 0;
      div {
        margin: 0 25px;
      }
    }
  }
  
}

