@import "src/styles/variables.scss";

.socially-connected {
  width: 100%;
  max-width: 100%;
  overflow: hidden;

  .container {
    margin: 0 auto;
    width: 100%;
    position: relative;

    @media #{$viewport-medium} {
      width: 833px;
    }

    @media #{$viewport-large} {
      width: 1023px;
      padding-bottom: 70px;
    }

    @media #{$viewport-xlarge} {
      width: 1440px;
    }
  }

  .socially__scrollbar {
    background: rgba(151, 151, 151, 0.2);
    width: 90%;
    position: absolute;
    z-index: 50;
    height: 1px;
    top: -30px;
    width: 295px;
    left: 50%;
    transform: translateX(-50%);

    @media #{$viewport-medium} {
      width: 485px;
    }

    @media #{$viewport-large} {
      width: 417px;
    }

    .swiper-scrollbar-drag {
      position: relative;
      cursor: pointer;
      top: -1px;
      left: 0px;
      width: 100%;
      height: 3px;
      background: #b3a97e;
      border-radius: 10px;
    }
  }

  .socially__title {
    font-family: $font-serif;
    font-size: 25px;
    font-weight: $serif-regular;
    text-align: center;
    padding: 0 20px;

    @media #{$viewport-medium} {
      font-size: 32px;
    }
  }

  .socially__columns {
    padding: 0 20px;
    width: 100%;
    margin-top: 58px;
    position: relative;

    @media #{$viewport-medium} {
      width: 100%;
      padding: 0 42px;
      margin-top: 100px;
    }

    @media #{$viewport-large} {
      width: 100%;
      padding: 0 42px;
      margin-top: 100px;
    }

    .swiper-container {
      overflow: initial;
      position: initial;

      @media #{$viewport-medium} {
        overflow: hidden;
      }

      .swiper-slide {
        width: 100%;
        max-width: 241px;

        @media #{$viewport-medium} {
          max-width: none;
        }

        @media #{$viewport-xlarge} {
          width: 100%;
          max-width: 417px;
        }
      }
    }

    .socially__columns__column {
      width: 100%;
      color: $color-darkgray;
      transition: color .2s ease-in;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        @media #{$viewport-large} {
          color: $color-darkgray;
        }
      }

      @media #{$viewport-large} {
        color: $color-gray;
      }

      .socially__columns__column__img__wrapper {
        padding: 0;
        overflow: hidden;
      }

      .socially__columns__column__img {
        width: 100%;
        height: 240px;
        object-fit: cover;
        object-position: center;
        transform: scale(1.1);
        transition: transform 70ms;

        @media #{$viewport-medium} {
          height: 354px;
        }

        @media #{$viewport-large} {
          height: 417px;
        }
      }

      .socially__columns__column__info {
        margin-top: 31px;
        text-align: center;

        @media #{$viewport-large} {
          margin: 30px auto 0;
        }

        .socially__columns__column__info__social-type {
          width: 100%;
          height: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: none;
          img {
            height: 15px;
            width: 15px;
          }
        }

        .socially__columns__column__info__social-date {
          text-transform: uppercase;
          margin-top: 10px;
          color: $color-gray;
          font-family: $font-sans-serif;
          font-size: 10px;
          letter-spacing: 0.5px;
          line-height: 12px;
          text-align: center;
          text-transform: none;
        }

        .socially__columns__column__info_title {
          margin-top: 10px;
          font-size: 24px;
          font-family: $font-sans-serif;
          font-weight: $sans-serif-semibold;
          line-height: 29px;
          text-transform: none;

          @media #{$viewport-medium} {
            margin-top: 21px;
          }
        }

        .socially__columns__column__info_description {
          margin-top: 20px;
          font-size: 13px;
          font-family: $font-serif;
          font-weight: $serif-regular;
          line-height: 20px;
          word-break: break-word;
          overflow: hidden;
          text-overflow: ellipsis;
          text-transform: none;

          @media #{$viewport-medium} {
            font-size: 12px;
            margin-top: 15px;
            line-height: 18px;
          }
        }

        .socially__columns__column__info_more {
          margin-top: 20px;
          font-size: 12px;
          font-family: $font-sans-serif;
          font-weight: $sans-serif-bold;
          text-transform: none;

          .socially__columns__column__info_more__link {
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }
  }
}
