@import 'src/styles/variables.scss';

.top-articles__hero {
  width: 100%;
}

.top-articles {
  box-sizing: border-box;
  display: block;
  padding: 0;

  @media #{$viewport-medium} {
    padding: 0 40px;
  }

  @media #{$viewport-large} {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &.container {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    max-width: 1440px;
  }

  .featured-article {
    padding: 21px 20px;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-items: flex-start;
    grid-template-columns: 100%;
    background-color: $color-white;

    @media #{$viewport-medium} {
      padding: 21px 20px;
      grid-template-columns: 68%;
    }

    @media #{$viewport-large} {
      grid-template-columns: 68%;
      padding: 0;
      align-items: center;
    }

    @media #{$viewport-xlarge} {
      grid-template-columns: 61%;
    }

    .featured-article__inner {
      width: 100%;
      height: 100%;
      padding: 0;
      color: $color-gray;
      position: relative;

      @media #{$viewport-medium} {
        padding: 21px 20px;
        box-sizing: border-box;
        padding: 110px 0;
      }

      @media #{$viewport-large} {
        padding: 131px 0;
        height: auto;
      }

      .featured-article__image {
        width: 100%;
        height: 503px;
        box-sizing: border-box;
        background-size: cover;
        background-position: center;
        padding: 21px 20px;
        position: relative;

        @media #{$viewport-medium} {
          height: 730px;
        }

        @media #{$viewport-large} {
          height: 550px;
        }

        .feature-article__authors {
          position: absolute;
          left: -20px;
          top: 10px;
          writing-mode: vertical-lr;
          text-orientation: mixed;
          transform: rotate(180deg);
          display: none;
          letter-spacing: 1px;

          @media #{$viewport-medium} {
            display: block;
            color: $color-darkgray;
            font-size: 9px;
            line-height: 12px;
          }

          @media #{$viewport-large} {
            color: $color-gray;
          }
        }
      }
    }
  }

  .top_articles__columns {
    display: block;
    margin-top: 40px;
    position: relative;

    @media #{$viewport-medium} {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 0;
      margin-top: 50px;
    }

    @media #{$viewport-large} {
      margin-top: 0;
      padding-left: 20px;
    }
    @media #{$viewport-xlarge} {
      margin-top: 0;
      padding-left: 41px;
    }

    &.category {
      display: block;
    }

    .top_articles__columns__column {
      position: relative;

      @media #{$viewport-medium} {
        padding-left: 0;
      }

      @media #{$viewport-large} {
        padding-left: 41px;
      }
    }

    .top_articles__columns__column__inner {
      padding: 20px;
      border-right: 1px solid #979797;

      &:nth-child(3n) {
        border-right: none;
      }

      @media #{$viewport-medium} {
        padding: 0 10px;
      }
    }

    .top_articles__columns__column__image {
      width: 100%;
      height: 444px;
      background-size: cover;
      background-position: center;

      @media #{$viewport-medium} {
        height: 293px;
      }

      @media #{$viewport-large} {
        height: 200px;
      }

      @media #{$viewport-xlarge} {
        height: 249px;
      }
    }
  }

  .article__category {
    font-family: $font-sans-serif;
    font-size: 9px;
    line-height: 11px;
    font-weight: $serif-regular;
    margin-top: 20px;
    color: $color-gray;
    text-transform: uppercase;
  }

  .article__title {
    font-family: $font-sans-serif;
    font-size: 18px;
    font-weight: $sans-serif-semibold;
    line-height: 21px;
    margin-top: 10px;
    color: $color-gray;

    @media #{$viewport-medium} {
      font-size: 16px;
      line-height: 20px;
      font-weight: $serif-bold;
    }
  }

  .article__description {
    font-family: $font-serif;
    font-weight: $serif-regular;
    line-height: 20px;
    margin-top: 20px;
    font-size: 13px;
    color: $color-gray;

    @media #{$viewport-medium} {
      font-size: 12px;
      line-height: 18px;
    }
  }

  .article__more {
    font-family: $font-sans-serif;
    font-size: 12px;
    font-weight: $serif-bold;
    line-height: 15px;
    margin-top: 16px;

    .article__more__link {
      text-decoration: none;
      color: $color-gray;
    }
  }
}
