@import 'src/styles/variables.scss';

.top-articles__hero {
  width: 100%;
}

.top-articles {
  box-sizing: border-box;
  display: block;
  padding: 0;

  @media #{$viewport-medium} {
    padding: 40px 40px 0;
  }

  @media #{$viewport-large} {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
  }

  .featured-article {
    padding: 21px 20px;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-items: flex-start;
    grid-template-columns: 100%;
    background-color: $color-white;

    @media #{$viewport-medium} {
      padding: 21px 20px;
      grid-template-columns: 68%;
    }

    @media #{$viewport-large} {
      grid-template-columns: 68%;
      padding: 0;
    }

    @media #{$viewport-xlarge} {
      grid-template-columns: 61%;
    }

    .featured-article__inner {
      width: 100%;
      height: 100%;
      padding: 0;
      color: $color-gray;
      position: relative;
      top: 0;

      @media #{$viewport-medium} {
        padding: 21px 20px;
        box-sizing: border-box;
        padding: 110px 0;
      }

      @media #{$viewport-large} {
        height: auto;
        padding: 0;
        align-self: center;
      }

      .featured-article__image-container {
        position: relative;

        .featured-article__image-wrapper {
          overflow: hidden;

          .featured-article__image {
            width: 100%;
            min-height: 450px;
            max-height: 600px;
            object-fit: cover;
            object-position: center;
            transform: scale(1.3);
            transition: transform 70ms;
            cursor: pointer;
          }
        }

        .feature-article__authors {
          position: absolute;
          left: -16px;
          top: 0;
          writing-mode: vertical-lr;
          text-orientation: mixed;
          transform: rotate(180deg);
          display: none;
          letter-spacing: 1px;
          font-family: $font-sans-serif;
          font-weight: $sans-serif-light;

          @media #{$viewport-medium} {
            display: block;
            color: $color-darkgray;
            font-size: 9px;
            line-height: 12px;
          }

          @media #{$viewport-large} {
            color: $color-gray;
          }
        }
      }
    }
  }

  .top_articles__columns {
    display: block;
    margin-top: 40px;
    position: relative;

    @media #{$viewport-medium} {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 0;
      margin-top: 50px;
    }

    @media #{$viewport-large} {
      margin-top: 0;
      padding-left: 20px;
    }

    @media #{$viewport-xlarge} {
      margin-top: 0;
      padding-left: 41px;
    }

    &.category {
      display: block;
    }

    .top_articles__columns__column {
      position: relative;

      @media #{$viewport-medium} {
        padding-left: 0;
      }

      @media #{$viewport-large} {
        padding-left: 41px;
      }
    }

    .top_articles__columns__column__inner {
      padding: 20px;
      border-right: 1px solid rgba(151, 151, 151, 0.2);
      cursor: pointer;

      &:nth-child(3n) {
        border-right: none;
      }

      @media #{$viewport-medium} {
        padding: 0 10px;
        padding-bottom: 40px;
      }

      @media #{$viewport-large} {
        padding: 0 10px 40px 10px;
      }
    }

    .top_articles__columns__column__image-wrapper {
      overflow: hidden;

      .top_articles__columns__column__image {
        width: 100%;
        min-height: 444px;
        object-fit: cover;
        object-position: center;
        transform: scale(1.3);
        transition: transform 70ms;
        @media #{$viewport-medium} {
          min-height: 187px;
          max-height: 250px;
        }
      }
    }
  }

  .article__category {
    font-family: $font-sans-serif;
    font-size: 9px;
    line-height: 11px;
    font-weight: $serif-regular;
    margin-top: 20px;
    text-transform: uppercase;
    color: $color-darkgray;

    @media #{$viewport-medium} {
      color: $color-gray;
    }
  }

  .article__title {
    font-family: $font-sans-serif;
    font-size: 18px;
    font-weight: $sans-serif-semibold;
    line-height: 21px;
    margin-top: 10px;
    color: $color-darkgray;

    @media #{$viewport-medium} {
      font-size: 16px;
      line-height: 20px;
      font-weight: $serif-bold;
      color: $color-gray;
    }
  }

  .article__description {
    font-family: $font-serif;
    font-weight: $serif-regular;
    line-height: 20px;
    margin-top: 20px;
    font-size: 13px;
    color: $color-darkgray;

    @media #{$viewport-medium} {
      font-size: 12px;
      line-height: 18px;
      color: $color-gray;
    }
  }

  .article__more {
    font-family: $font-sans-serif;
    font-size: 12px;
    font-weight: $serif-bold;
    line-height: 15px;
    margin-top: 16px;

    .article__more__link {
      text-decoration: none;
      color: $color-darkgray;

      @media #{$viewport-medium} {
        color: $color-gray;
      }
    }
  }
}
