@import "src/styles/variables.scss";

.account-container {
  display: block;
  grid-template-columns: 1fr 1fr;
  column-gap: 42px;
  font-family: $font-sans-serif;
  color: $color-darkgray;
  box-sizing: border-box;
  padding-bottom: 60px;
  padding: 0 20px;
  box-sizing: border-box;
  @media #{$viewport-medium} {
    display: grid;
    padding: 20px;
  }
  .signup__checkbox-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    label {
      margin-left: 10px;
      font-size: 15x;
    }
  }
  .account__update__button {
    box-sizing: border-box;
    background-color: $color-black;
    color: $color-white;
    font-family: $font-sans-serif;
    font-size: 14px;
    font-weight: $sans-serif-semibold;
    line-height: 17px;
    border-radius: 3px;
    width: 100%;
    height: 50px;
    margin-top: 40px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &.disabled {
      cursor: initial;
      pointer-events: none;
      opacity: 0.6;
    }
    @media #{$viewport-medium} {
      width: 51%;
    }
  }
}
