@import 'src/styles/variables';

.navigation {
  position: fixed;
  max-width: 100%;
  width: 100%;
  left: 0;
  right: 0;
  height: calc(100vh - 77px);
  height: calc(100vh - 77px);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $color-white;
  font-family: $font-sans-serif;
  color: $color-black;
  z-index: 103;
  top: -100vh;
  transition-property: top bottom;
  transition-duration: 0.3s;
  transition-timing-function: ease;

  &.slide-in {
    padding-bottom: 25px;
    bottom: 0;
    top: 77px;

    @media #{$viewport-medium} {
      top: 0;
      left: 0;
      transform: translateX(0);
    }
  }

  &.home-slide {
    @media #{$viewport-medium} {
      top: calc(50% - 40px);
    }

    &.slide-in {
      padding-bottom: 25px;
      bottom: 0;
      top: calc(50% + 38px);
      @media #{$viewport-medium} {
        left: 0;
        top: calc(50% - 40px);;
        transform: translateX(0);
      }
    }
  }

  @media #{$viewport-medium} {
    max-width: 350px;
    height: 100vh;
    min-height: 100vh;
    overflow-x: hidden;
    top: 0;
    left: 0;
    transform: translateX(-100%);
  }

  @media #{$viewport-medium} {
    max-width: 370px;
  }

  .navigation-head {
    display: none;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 42px;
    @media #{$viewport-medium} {
      display: flex;
    }
  }
  .arrow {
    display: inline-block;
    position: absolute;
    width: 7px;
    height: 7px;
    background: transparent;
    text-indent: -9999px;
    border-top: 1px solid $color-black;
    border-left: 1px solid $color-black;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    color: transparent;

    &:before {
      display: block;
      margin-left: -50%;
      margin-top: -50%;
      content: '';
      transform: rotate(45deg);
    }

    &.prev {
      transform: rotate(-45deg) translateY(-50%);
      left: 4px;
      top: 45%;
    }

    &.next {
      transform: rotate(135deg);
      right: 4px;
      top: 42%;
    }
  }

  ul {
    margin: 10px 0 0 0;
    padding: 0 40px;
    position: relative;
    background-color: $color-white;

    @media #{$viewport-medium} {
      padding: 5px 54px;
      margin-top: 0px;
    }

    li {
      > button {
        color: $color-white;
        position: relative;
        display: inline-block;
        width: 100%;
        text-align: left;
        font-family: $font-sans-serif;
        font-size: 16px;
        font-weight: $sans-serif-semibold;
        line-height: 20px;
      }
    }

    > li {
      border-bottom:1px solid #D8D8D8;
      list-style: none;
      padding: 14px 0;
      color: $color-light-black;
      font-family: $font-sans-serif;
      font-size: 16px;
      font-weight: $sans-serif-semibold;
      line-height: 20px;
      cursor: pointer;
      @media #{$viewport-large} {
        color: $color-cutline;
      }
      &:last-child {
        border-bottom: none;
      }

      &.with-menu {
        .sub-menu {
          li {
            &.go-back {
              width: 100%;

              button {
                font-weight: $sans-serif-medium;
                color: $color-light-black;
              }
            }
          }
        }

        .sub-menu {
          position: absolute;
          left: 100%;
          width: 100%;
          transition: left 0.5s ease-in-out;
          height: 100%;
          top: 0;
          z-index: 1;

          .go-back {
            button {
              position: relative;
              line-height: 1;
              padding-left: 20px;
            }
          }
        }
      }

      a,
      li,
      button {
        display: block;
        width: 100%;
        text-decoration: none;
        color: $color-light-black;
        transition: all .2s ease-in-out;
        @media #{$viewport-large} {
          color: $color-cutline;
        }

        &:hover {
          color: $color-black;
        }
      }
    }
  }

  .main-menu {
    background: transparent;
    left: 0%;
    transition: left .4s ease-in-out;

    &.subnav-open {
      left: -100%;
    }
  }

}



