@import "src/styles/variables";

.lost-password {
  padding: 50px 20px;
  box-sizing: border-box;
  form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  &.container {
    margin: 0 auto;
    width: 100%;
  
    @media #{$viewport-medium} {
      width: 833px;
    }
  }
  .lost-password__title {
    font-family: $font-sans-serif;
    font-weight: $sans-serif-regular;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
  }
  .lost-password__email-sent {
    color: $color-success;
    font-family: $font-sans-serif;
    font-weight: $sans-serif-regular;
    margin: 20px 0;
    font-size: 14px;
    text-align: center;
  }
  .lost-password__submit {
    padding: 1rem;
    box-sizing: border-box;
    background-color: $color-darkgray;
    color: $color-white;
    font-family: $font-sans-serif;
    border-radius: 3px;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
    max-width: 215px;
    margin-top: 5px;
  }
  
}
