@import 'src/styles/variables';

.events-component {
  max-width: 100%;
  position: relative;
  background-color: $color-white;
  padding: 0 0 60px;

  @media #{$viewport-medium} {
    padding: 0 0 100px;
    overflow: hidden;
  }

  @media #{$viewport-large} {
    padding: 0 0 130px;
  }

  .events-component__img-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    .parallax-inner {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .events-component__img {
    height: 604px;
    width: 665px;
    object-fit: contain;
    transition: transform 70ms;
    position: absolute;
    right: 0;
    z-index: 1;

    @media #{$viewport-medium} {
      height: 1321px;
      width: 1454px;
      right: -25px;
      top: -155px;
    }

    @media #{$viewport-xlarge} {
      right: auto;
      left: 0;
      width: 100%;
      object-fit: cover;
    }
  }

  .events-component__body {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 300px;
    z-index: 10;
  }

  .events-component__date {
    text-align: center;
    font-size: 14px;
    font-family: $font-sans-serif;
    text-transform: uppercase;
    color: $color-darkgray;

    @media #{$viewport-medium} {
      font-size: 16px;
    }
  }

  .events-component__day {
    font-size: 150px;
    font-family: $font-serif;
    text-align: center;
    line-height: 187px;
    color: $color-black;

    @media #{$viewport-medium} {
      font-size: 180px;
      line-height: 224px;
      margin-top: 15px;
    }

    @media #{$viewport-large} {
      margin-top: 0;
    }
  }

  .event {
    font-family: $font-sans-serif;
    color: $color-black;
    text-align: center;
    padding: 0 20px 0;
    margin-top: 200px;
    color: $color-darkgray;

    @media #{$viewport-medium} {
      max-width: 526px;
      margin: 0 auto;
      margin-top: 430px;
      padding: 0;
    }

    @media #{$viewport-large} {
      max-width: 632px;
      margin-top: 502px;
    }

    .event__cutline {
      font-size: 10px;
      color: $color-darkgray;

      @media #{$viewport-large} {
        color: $color-gray;
      }
    }

    .event__title {
      margin-top: 8px;
      font-family: $font-sans-serif;
      font-weight: $sans-serif-semibold;
      font-size: 22px;

      @media #{$viewport-medium} {
        font-size: 32px;
        margin-top: 20px;
        line-height: 39px;
      }

      @media #{$viewport-large} {
        color: $color-gray;
      }
    }

    .event__desc1 {
      margin-top: 10px;
      font-size: 14px;
      line-height: 22px;
      font-family: $font-sans-serif;

      @media #{$viewport-medium} {
        font-size: 15px;
        margin-top: 0;
        font-weight: 400;
      }

      @media #{$viewport-large} {
        margin-top: 10px;
        color: $color-gray;
      }
    }

    .event__desc2 {
      margin-top: 20px;
      font-size: 13px;
      font-family: $font-serif;
      line-height: 20px;
      -webkit-font-smoothing: antialiased;

      @media #{$viewport-medium} {
        font-size: 15px;
        margin-top: 30px;
        line-height: 22px;
      }

      @media #{$viewport-large} {
        color: $color-gray;
        margin-top: 20px;
      }
    }

    .event__link {
      text-decoration: none;
      font-size: 12px;
      font-weight: $sans-serif-bold;
      margin-top: 20px;
      display: block;
      color: $color-darkgray;
      transition: color 0.2s ease-in;

      @media #{$viewport-medium} {
        margin-top: 11px;
      }

      @media #{$viewport-large} {
        margin-top: 20px;
        color: $color-gray;
      }

      &:hover {
        @media #{$viewport-large} {
          color: $color-darkgray;
        }
      }
    }
  }
}
