@import 'src/styles/variables.scss';

.post-hero {
  &.dark {
    .block {
      .block-wrapper {
        background-color: #1b1b1b;
        color: $color-white;

        .byline {
          color: $color-white;
        }

        hr {
          background-color: $color-white;
        }
      }
    }
  }

  .image-container {
    // @media #{$viewport-medium} {
    //   transform: translateY(-5%);
    //   transition-property: transform;
    //   transition-duration: 2s;
    //   transition-timing-function: ease-out;
    // }

    // &.loaded {
    //   @media #{$viewport-medium} {
    //     transform: translateY(0);
    //   }
    // }
    overflow: hidden;

    img {
      width: 100%;
      height: 690px;
      object-fit: cover;
      object-position: center;
      transition: transform 100ms;

      @media #{$viewport-medium} {
        height: 385px;
        object-position: top center;
      }

      @media #{$viewport-large} {
        height: 660px;
      }
    }
  }

  .image-scale-contianer {
    transform: scale(1.5);
    transition: transform 1.5s;
    &.loaded {
      transform: scale(1);
    }
  }

  .block {
    padding: 0 20px;

    @media #{$viewport-medium} {
      transition-property: opacity, transform;
      transition-duration: 2s;
      transition-timing-function: ease-out;
      opacity: 0;
      transform: translateY(15%);
    }

    &.loaded {
      @media #{$viewport-medium} {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @media #{$viewport-medium} {
      padding: 0 40px;
    }

    @media #{$viewport-xlarge} {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 40px;
    }

    .block-wrapper {
      background-color: $color-white;
      color: #282828;
      margin-top: -230px;
      text-align: center;
      position: relative;
      padding: 44px 20px;
      margin: -240px 0 0;
      box-sizing: border-box;

      @media #{$viewport-medium} {
        margin-top: -40px;
      }

      @media #{$viewport-large} {
        padding: 60px 10px;
        margin-top: -60px;
      }

      @media #{$viewport-xlarge} {
        grid-column-start: 2;
        grid-column-end: 6;
      }

      .category-name {
        font-family: $font-sans-serif;
        font-size: 9px;
        margin-top: 0;
        margin-bottom: 10px;
        text-transform: uppercase;
      }

      .headline,
      .byline {
        font-family: $font-sans-serif;
        font-weight: $sans-serif-bold;
        max-width: 634px;
        margin-left: auto;
        margin-right: auto;
      }

      .headline {
        font-size: 25px;
        margin-bottom: 20px;
        font-weight: 500;

        @media #{$viewport-large} {
          font-size: 35px;
        }
      }

      .byline {
        font-size: 15px;
        margin-bottom: 20px;
        font-family: $font-serif;
        font-weight: $serif-regular;
        line-height: 25px;
        font-size: 15px;
        color: $color-gray;

        @media #{$viewport-medium} {
          font-size: 16px;
          margin-bottom: 30px;
        }
      }

      hr {
        height: 1px;
        max-width: 50px;
        border: none;
        margin-bottom: 18px;
        background-color: $color-gray;

        @media #{$viewport-large} {
          max-width: 146px;
        }
      }

      .attribution {
        font-size: 10px;
        margin: 0;
        font-family: $font-sans-serif;
        font-weight: $sans-serif-regular;
        line-height: 12px;
      }
    }
  }
}
