@import "src/styles/variables";

.ad {
  .container {
    margin: 0 auto;
    width: 100%;

    @media #{$viewport-medium} {
      width: 833px;
    }

    @media #{$viewport-large} {
      width: 1023px;
    }

    @media #{$viewport-xlarge} {
      width: 1399px;
    }
  }

  .ad__img-container {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    background-color: $color-white;

    @media #{$viewport-medium} {
      padding: 43px;
    }

    @media #{$viewport-large} {
      padding: 54px;
    }

    .ad__img-wrapper {
      overflow: hidden;
    }
    .ad__img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      font-family: $font-sans-serif;
      font-size: 28px;
      font-weight: $sans-serif-semibold;
      color: #fff;
      text-align: center;
      box-sizing: border-box;
      transform: scale(1.3);
      transition: transform 70ms;

      @media #{$viewport-medium} {
        font-size: 42px;
      }
    }
  }
}
