@import 'src/styles/variables';

.ad {
  .container {
    margin: 0 auto;
    width: 100%;

    .ad__img-container {
      padding: 20px;
      width: 100%;
      background-color: $color-white;

      @media #{$viewport-medium} {
        padding: 43px;
      }

      @media #{$viewport-large} {
        padding: 54px;
      }

      .ad__img-wrapper {
        overflow: hidden;
      }

      .ad__img {
        width: 100%;
        max-width: 335px;
        height: 658px;
        object-fit: cover;
        object-position: center;
        font-family: $font-sans-serif;
        font-weight: $sans-serif-semibold;
        transition: transform 0.4s;
        margin: 0 auto;
        display: block;

        @media #{$viewport-medium} {
          height: 750px;
          max-width: 750px;
        }

        @media #{$viewport-xlarge} {
          height: 660px;
          max-width: 1333px;
        }
      }
    }
  }
}
