@import "src/styles/variables.scss";

.footer {
  background-color: $color-gold;
  text-align: center;
  padding: 30px 20px 60px;

  .opt-in {
    h2 {
      font-family: $font-regular;
      font-weight: 400;
      margin-bottom: 10px;
      font-size: 32px;
    }

    p {
      font-family: $font-regular;
      font-weight: 400;
      font-size: 13px;
      margin-bottom: 30px;
      line-height: 20px;
    }

    .inputs {
      input,
      button {
        padding: 15px;
        max-height: 50px;
        font-size: 12px;
      }

      input {
        display: block;
        border: 1px solid black;
        width: 100%;
        box-sizing: border-box;
        background-color: transparent;
        border-radius: 4px;

        &::placeholder {
          color: rgba(#000000, 0.7);
          font-size: 12px;
          font-family: Arial, Helvetica, sans-serif;
        }
      }

      button {
        display: block;
        width: 100%;
        background-color: black;
        color: $color-gold;
        border: none;
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 4px;
      }
    }
  }
}
