@import "src/styles/variables.scss";

.footer {
  margin-top: 30px;

  .opt-in {
    background-color: $color-gold;
    text-align: center;
    padding: 30px 20px 60px;

    h2 {
      font-family: $font-serif;
      font-weight: $serif-regular;
      margin-bottom: 10px;
      font-size: 32px;
    }

    p {
      font-family: $font-serif;
      font-weight: $serif-regular;
      font-size: 13px;
      margin-bottom: 30px;
      line-height: 20px;

      &.message {
        text-align: left;
        opacity: 0;
        margin: 0;
        transition: opacity 0.3s ease-out;
        font-family: $font-sans-serif;
        font-family: 10px;

        &.show {
          opacity: 1;
        }
      }
    }

    .inputs {
      input,
      button {
        padding: 15px;
        max-height: 50px;
        font-size: 12px;
      }

      input {
        display: block;
        border: 1px solid $color-black;
        width: 100%;
        box-sizing: border-box;
        background-color: transparent;
        border-radius: 4px;
        transition: border 0.2s ease-in-out;

        &::-webkit-input-placeholder {
          color: rgba(#000000, 0.7);
          font-size: 12px;
          font-family: $font-sans-serif;
        }

        &::-moz-placeholder {
          color: rgba(#000000, 0.7);
          font-size: 12px;
          font-family: $font-sans-serif;
          font-size: 13px;
        }

        &:-ms-input-placeholder {
          color: rgba(#000000, 0.7);
          font-size: 12px;
          font-family: $font-sans-serif;
          font-size: 13px;
        }

        &::placeholder {
          color: rgba(#000000, 0.7);
          font-size: 12px;
          font-family: $font-sans-serif;
          font-size: 13px;
        }
      }

      button {
        display: block;
        width: 100%;
        background-color: black;
        color: $color-gold;
        border: none;
        margin-top: 10px;
        font-family: $font-serif;
        border-radius: 4px;
      }
    }
  }

  .site-links {
    background-color: $color-gray;
    padding: 60px 20px;

    input {
      position: absolute;
      opacity: 0;
      z-index: -1;

      &:checked {
        + .tab-label {
          &::after {
            transform: rotate(-90deg);
          }
        }

        ~ .tab-content {
          max-height: 100vh; // TODO: fix this
        }
      }
    }

    .tabs {
      border-radius: 8px;
      overflow: hidden;
      font-family: $font-sans-serif;
      font-size: 14px;
    }

    .tab {
      width: 100%;
      color: white;
      overflow: hidden;

      .tab-label {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        font-weight: bold;
        cursor: pointer;
        border-top: 1px solid rgba(white, 0.5);

        &::after {
          content: "\276F";
          width: 1em;
          height: 1em;
          text-align: center;
          transition: all 0.3s ease-in-out;
        }
      }

      .tab-content {
        max-height: 0;
        color: color;
        transition: all 0.3s ease-in-out;

        a {
          display: block;
          color: white;
          padding: 15px 0;
          border-top: 1px solid rgba(white, 0.5);
          text-decoration: none;
        }
      }
    }

    .social-container {
      ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 50px 0 30px;

        li {
          list-style: none;
          width: 30px;
          height: 30px;
        }
      }
    }

    .about {
      color: $color-white;
      font-size: 11px;
      font-family: $font-sans-serif;
      margin-bottom: 40px;
    }

    .logo {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;

      svg {
        width: 50px;
      }

      span {
        font-family: $font-sans-serif;
        color: $color-white;
        font-weight: $sans-serif-light;
        font-size: 13px;
      }
    }

    .copyright {
      font-size: 11px;
      color: $color-white;
      font-family: $font-sans-serif;
    }
  }
}
