@import "src/styles/variables";

.photo-layout {
  padding: 60px 40px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 40px;

  .photo-item {
    position: relative;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    .cutline {
      position: absolute;
      bottom: 0;
      transform: translate(-50%, 100%);
      padding-top: 5px;
      margin: 0;
      font-size: 10px;
      font-family: $font-sans-serif;
      left: 50%;
      color: $color-cutline;
    }
  }
}
