@import 'src/styles/variables';

.photo-layout {
  padding: 0 20px;
  .parallax-inner {
    overflow: hidden;
  }
  @media #{$viewport-medium} {
    padding: 0 40px;
    display: grid;
    grid-gap: 40px;
  }

  &.bias-layout {
    @media #{$viewport-medium} {
      grid-template-columns: 2fr 1fr;
    }
  }

  &.half-layout {
    @media #{$viewport-medium} {
      grid-template-columns: 1fr 1fr;
    }
  }

  .photo-item {
    overflow: hidden;
    margin-top: 20px;
    height: 100%;

    .parallax-outer {
      overflow: hidden;
      width: 100%;
      height: 92%;
      .parallax-inner {
        width: 100%;
        height: 100%;
      }
    }
    &:first-child {
      margin-top: 0;
    }
    @media #{$viewport-medium} {
      position: relative;
      margin-top: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transform: scale(1.1);
      transition: transform 100ms;
    }
  }
}
