@import "src/styles/variables";

.fullwidth-copy {
  .container {
    max-width: 1024px;
    margin: 0px auto 100px;
    padding: 30px;
    color: $color-darkgray;
    font-family: $font-serif;

    h1, h2, h3, h4, h5, h6 {
      font-weight: $serif-regular;
    }

    h1, h2, h3 {
      margin-top: 40px;
    }

    p, ul {
      font-size: 13px;
      line-height: 20px;
    }

    a {
      color: $color-gold;
    }

    .headline {
      padding: 58px 0 50px 0;
      color: $color-darkgray;
      font-family: $font-serif;
      font-size: 25px;
      letter-spacing: 0;
      line-height: 31px;
      text-align: center;
      font-weight: $serif-regular;
      margin: 0;
    
      @media #{$viewport-medium} {
        padding: 60px 0;
        font-size: 32px;
        line-height: 40px;
      }
    
      @media #{$viewport-large} {
        padding: 100px 0;
        font-size: 48px;
        line-height: 60px;
      }
    }
  }
}
