@import "src/styles/variables";

.login-container {
  padding: 0 20px 50px 20px;
  box-sizing: border-box;
  .login__input {
    margin-bottom: 20px;
    width: 100%;
    input, select {
      color: $color-black;
      font-family: $font-sans-serif;
      font-size: 14px;
      line-height: 17px;
      border: 1px solid $color-darkgray;
      border-radius: 3px;
      width: 100%;
      padding: 16px 15px;
      box-sizing: border-box;
      outline: none;
      background: transparent;
      @media #{$viewport-medium} {
        border: 1px solid $color-account-gray;
      }
    }
  }
  .login__submit {
    box-sizing: border-box;
    background-color: $color-black;
    color: $color-white;
    font-family: $font-sans-serif;
    font-size: 14px;
    font-weight: $sans-serif-semibold;
    line-height: 17px;
    border-radius: 3px;
    width: 100%;
    height: 50px;
    margin-top: 40px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &.disabled {
      cursor: initial;
      pointer-events: none;
      opacity: 0.6;
    }
  }
  .login__lost-password {
    text-decoration: none;
    color: $color-gray;
    font-family: $font-sans-serif;
    font-size: 14px;
    line-height: 17px;
    display: block;
    margin: 37px 0 26px 0;
  }
  .login__remember {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    label {
      color: $color-gray;
      font-family: $font-sans-serif;
      font-size: 14px;
      line-height: 17px;
      margin-left: 5px;
    }
  }
  .login__facebook {
    box-sizing: border-box;
    background-color: #285296;
    color: $color-white;
    font-family: $font-sans-serif;
    font-size: 14px;
    font-weight: $sans-serif-semibold;
    line-height: 17px;
    border-radius: 3px;
    width: 100%;
    height: 50px;
    margin-top: 40px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  @media #{$viewport-medium} {
    padding: 0 0 50px 0;
  }
}


// input,
// select {
//   padding: 1em;
//   width: 100%;
//   border: 1px solid;
//   border-radius: 3px;
// }

// button {
//   padding: 1rem;
// }

// .lost-password a {
//   color: darkgray;
// }

// #error-message {
//   display: none;
// }

// .nav-buttons {
//     display: none;
// }

