@import 'src/styles/variables';

.about-main {
  .content-block-wrapper {
    padding: 0 20px;
    @media #{$viewport-medium} {
      padding: 0 43px;
    }
    @media #{$viewport-large} {
      padding: 55px;
      background-color: $color-white;
    }
  }
  .content-block {
    @media #{$viewport-medium} {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 40px;
    }
    @media #{$viewport-large} {
      width: 84%;
      grid-template-columns: 1.5fr 1fr;
    }
  
    .img-wrapper {
      margin-bottom: 20px;
  
      @media #{$viewport-medium} {
        margin-bottom: 0;
      }
  
      img {
        width: 100%;
        object-fit: cover;
        object-position: center center;
      }
  
      .cutline {
        font-size: 9px;
        font-family: $font-sans-serif;
        margin: 0;
        text-align: center;
      }
    }
  
    .copyblock {
      p {
        color: $color-darkgray;
        font-family: $font-serif;
        font-size: 12px;
        letter-spacing: 0;
        line-height: 18px;
        &:first-child {
          margin-top: 0;
        }
        @media #{$viewport-large} {
          letter-spacing: -0.1px;
        }
      }
    }
  }
}
