@import "src/styles/variables";

.login-header {
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
  padding-top: $header-height;
  h2 {
    margin: 58px 0 49px 0;
    font-family: $font-serif;
    font-size: 25px;
    line-height: 31px;
    text-align: center;
    color: $color-darkgray;
    @media #{$viewport-medium} {
      margin: 98px 0 96px 0;
      font-size: 32px;
      line-height: 40px;
    } 
    @media #{$viewport-large} {
      font-size: 48px;
      line-height: 60px;
    } 

  }
  .login__error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    font-family: $font-sans-serif;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 50px;
    &.hide {
      display: none;
    }
  }
  .login-header__toggle {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    div {
      font-family: $font-sans-serif;
      color: $color-account-gray;
      transition: color 0.3s;
      font-weight: $sans-serif-medium;
      line-height: 20px;
      font-size: 16px;
      margin: 0 15px;
      &.login-header__toggle--active {
        color: $color-black;
      }
      @media #{$viewport-medium} {
        margin: 0;
        color: $color-cutline;
        &.login-header__toggle--active {
          color: $color-cutline;
        }
      } 
    }
    @media #{$viewport-medium} {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 40px;
      width: 750px;
      text-align: left;
      div {
        color: $color-gray;
      }
    }
  
    @media #{$viewport-large} {
      column-gap: 112px;
      grid-template-columns: 0.85fr 1fr;
      width: 900px;
    }    
  }
}

