@import 'src/styles/variables.scss';

.chefs {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 10px;

  .container {
    margin: 0 auto;
    width: 100%;

    @media #{$viewport-medium} {
      width: 833px;
    }

    @media #{$viewport-large} {
      width: 1023px;
    }

    @media #{$viewport-xlarge} {
      width: 1399px;
    }
  }

  .chefs__title {
    font-family: $font-serif;
    font-size: 25px;
    font-weight: $serif-regular;
    text-align: center;
    padding: 0 21px;
    color: $color-black;

    @media #{$viewport-medium} {
      font-size: 32px;
    }
  }

  .chefs__scrollbar {
    background: rgba(151, 151, 151, 0.2);
    width: 90%;
    position: absolute;
    z-index: 50;
    height: 1px;
    top: -30px;
    width: 295px;
    left: 50%;
    transform: translateX(-50%);

    @media #{$viewport-medium} {
      width: 300px;
    }

    @media #{$viewport-large} {
      width: 417px;
    }

    .swiper-scrollbar-drag {
      position: relative;
      cursor: pointer;
      top: -1px;
      left: 0px;
      width: 100%;
      height: 3px;
      background: #b3a97e;
      border-radius: 10px;
    }
  }

  .chefs__columns {
    padding-left: 21px;
    padding-right: 21px;
    width: 100%;
    margin-top: 60px;

    @media #{$viewport-medium} {
      width: 100%;
      padding: 0 40px;
      margin-top: 60px;
    }

    .swiper-container {
      overflow: initial;
      position: initial;
      position: relative;
    }

    .chefs__columns__column {
      width: 100%;
      cursor: pointer;
      color: $color-darkgray;

      &:hover {
        color: $color-darkgray;
      }

      @media #{$viewport-large} {
        color: $color-gray;
      }

      .chefs__columns__column__img__wrapper {
        padding: 0;

        @media #{$viewport-xlarge} {
          background-color: $color-white;
          padding: 50px 50px 100px;
        }
      }

      .chefs__columns__column__img-wrapper {
        overflow: hidden;

        .chefs__columns__column__img {
          width: 100%;
          max-width: 100%;
          height: 345px;
          background-size: cover;
          background-position: center top;
          background-repeat: no-repeat;
          transition: transform 70ms;
          transform: scale(1.1);

          @media #{$viewport-medium} {
            height: 320px;
          }

          @media #{$viewport-large} {
            height: 450px;
          }
        }
      }

      .chefs__columns__column__info {
        margin-top: 20px;
        text-align: center;
        transition: color 0.2s ease-in;

        @media #{$viewport-xlarge} {
          padding: 0 50px;
          margin: 35px auto 0;
        }

        .chefs__columns__column__info_cutline {
          font-family: $font-sans-serif;
          font-size: 10px;
          font-weight: $sans-serif-regular;
          text-transform: uppercase;
          line-height: 12px;
        }

        .chefs__columns__column__info_title {
          margin-top: 10px;
          font-size: 24px;
          font-family: $font-sans-serif;
          font-weight: $sans-serif-semibold;
          line-height: 29px;
        }

        .chefs__columns__column__info_description {
          margin-top: 20px;
          font-size: 13px;
          line-height: 18px;
          font-family: $font-serif;
          font-weight: $serif-regular;

          @media #{$viewport-medium} {
            font-size: 12px;
          }
        }

        .chefs__columns__column__info_more {
          margin-top: 17px;
          font-size: 12px;
          font-family: $font-sans-serif;
          font-weight: $sans-serif-bold;
          line-height: 15px;

          .chefs__columns__column__info_more__link {
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }
  }
}
