@import 'src/styles/variables.scss';

.section-landing {
  padding-bottom: 60px;

  @media #{$viewport-medium} {
    padding-bottom: 100px;
  }
  .category-title {
    font-size: 25px;
    text-align: center;
    padding: 60px 0;
    font-family: $font-serif;
    font-weight: $serif-regular;
    margin: 0;

    @media #{$viewport-medium} {
      font-size: 32px;
    }

    @media #{$viewport-large} {
      font-size: 48px;
      padding: 100px 0 60px 0;
    }
  }

  .top-articles {
    .article__title {
      font-weight: $sans-serif-bold;
    }
    .featured-article {
      padding: 21px 20px 60px 20px;
      box-sizing: border-box;
      display: grid;
      justify-content: center;
      align-items: flex-start;
      grid-template-columns: 100%;
      background-color: $color-white;

      @media #{$viewport-medium} {
        padding: 21px 20px;
        grid-template-columns: 68%;
      }

      @media #{$viewport-large} {
        grid-template-columns: 68%;
        padding: 0;
      }

      @media #{$viewport-xlarge} {
        grid-template-columns: 61%;
      }

      .featured-article__inner {
        width: 100%;
        height: 100%;
        padding: 0;
        color: $color-gray;

        @media #{$viewport-medium} {
          padding: 21px 20px;
          box-sizing: border-box;
          padding: 110px 0;
        }

        @media #{$viewport-large} {
          padding: 131px 0;
          height: auto;
        }

        .featured-article__image {
          width: 100%;
          height: 503px;
          box-sizing: border-box;
          background-size: cover;
          background-position: center;
          
          position: relative;

          @media #{$viewport-medium} {
            height: 730px;
          }

          @media #{$viewport-large} {
            height: 550px;
          }

          .feature-article__authors {
            position: absolute;
            left: -16px;
            top: 0;
            writing-mode: vertical-lr;
            text-orientation: mixed;
            transform: rotate(180deg);
            display: none;
            letter-spacing: 1px;
            font-family: $font-sans-serif;
            font-weight: $sans-serif-light;

            @media #{$viewport-medium} {
              display: block;
              color: $color-darkgray;
              font-size: 9px;
              line-height: 12px;
            }

            @media #{$viewport-large} {
              color: $color-gray;
            }
          }
        }
      }
    }

    .top_articles__columns {
      display: block;
      margin-top: 60px;
      position: relative;
      padding: 0 20px;

      @media #{$viewport-medium} {
        padding: 0;
      }

      @media #{$viewport-large} {
        padding-left: 20px;
      }

      @media #{$viewport-xlarge} {
        margin-top: 0;
        padding-left: 20px;
      }

      .top__articles__category {
        display: grid;
        position: relative;
        
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;

        @media #{$viewport-medium} {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          column-gap: 0;
          margin-top: 50px;
        }

        @media #{$viewport-large} {
          margin-top: 0;
        }

        .top__articles__category__item {
          width: 100%;

          @media #{$viewport-medium} {
            border-right: 1px solid rgba(151, 151, 151, 0.2);
            padding: 0 20px 40px;
          }

          @media #{$viewport-large} {
            padding: 0 10px 40px;
          }

          @media #{$viewport-xlarge} {
            padding: 0 20px 40px;
          }
        }
      }

      &.category {
        display: block;
      }

      .top_articles__columns__column {
        position: relative;

        @media #{$viewport-medium} {
          padding-left: 0;
        }

        @media #{$viewport-large} {
          padding-left: 41px;
        }
      }

      .top_articles__columns__column__inner {
        padding: 0;
        padding-bottom: 39px;
        border-right: none;
        cursor: pointer;

        &:nth-child(3n) {
          border-right: none;
        }

        @media #{$viewport-medium} {
          padding: 0;
        }

        .article-img-wrapper {
          overflow: hidden;
          &.article-circle {
            border-radius: 50%;
            .parallax-inner {
              width: 100%;
              padding-top: 100%;
              position: relative;
            }
            .article-img {
              transform: scale(1.1);
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            object-position: center;
            }
          }
          .article-img {
            width: 100%;
            height: auto;
            min-height: 187px;
            max-height: 250px;
            object-fit: cover;
            object-position: center;
            transform: scale(1.1);
            transition: transform 70ms;
          }
        }
        
      }

      .top_articles__columns__column__image {
        width: 100%;
        height: 444px;
        background-size: cover;
        background-position: center;

        @media #{$viewport-medium} {
          height: 293px;
        }

        @media #{$viewport-large} {
          height: 200px;
        }

        @media #{$viewport-xlarge} {
          height: 249px;
        }
      }
    }
  }

  .top__articles__category__item {
    width: 100%;

    @media #{$viewport-medium} {
      border-right: 1px solid rgba(151, 151, 151, 0.2);
      padding: 0 20px 40px;
    }

    @media #{$viewport-large} {
      padding: 0 10px 40px;
    }

    @media #{$viewport-xlarge} {
      padding: 0 20px 40px;
    }
  }

  .fake-border {
    border-right: 1px solid rgba(151, 151, 151, 0.2);
    display: none;
    @media #{$viewport-medium} {
      display: block;
    }
  }

  .top-articles__more {
    display: none;
    @media #{$viewport-large} {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0 40px 0 60px;
    }
    @media #{$viewport-xlarge} {
      padding: 40px 40px 0 20px;
      grid-template-columns: 4.4fr 4.4fr 4.3fr 4fr 4fr 4fr;
    }
    
    &.container {
      margin: 0 auto;
      width: 100%;
      max-width: 1440px;
    }
    .top__articles__category__item {
      position: relative;
      .more-divider {
        position: absolute;
        height: 40px;
        width: 1px;
        top: -40px;
        right: -1px;
        background-color: rgba(151, 151, 151, 0.2);
        display: none;
      }
      &:nth-child(4), &:nth-child(5), &:nth-child(6) {
        .more-divider {
          display: block;
        }
      }
    }
    
    .top_articles__columns__column__inner {
      padding: 0;
      padding-bottom: 39px;
      border-right: none;
      color: $color-darkgray;
      cursor: pointer;
      transition: color .2s ease-in;

      @media #{$viewport-large} {
        color: $color-gray;
      }

      &:hover {
        @media #{$viewport-large} {
          color: $color-darkgray;
        }
      }

      &:nth-child(3n) {
        border-right: none;
      }

      @media #{$viewport-medium} {
        padding: 0;
      }

      .article-img-wrapper {
        overflow: hidden;
        &.article-circle {
          border-radius: 50%;
          -webkit-mask-image: -webkit-radial-gradient(white, black);
          .parallax-inner {
            width: 100%;
            padding-top: 100%;
            position: relative;
          }
          .article-img {
            transform: scale(1.1);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          object-position: center;
          }
        }
        .article-img {
          width: 100%;
          height: auto;
          min-height: 187px;
          max-height: 250px;
          object-fit: cover;
          object-position: center;
          transform: scale(1.1);
          transition: transform 70ms;
        }
      }
      
    }

    .top_articles__columns__column__image {
      width: 100%;
      height: 444px;
      background-size: cover;
      background-position: center;

      @media #{$viewport-medium} {
        height: 293px;
      }

      @media #{$viewport-large} {
        height: 200px;
      }

      @media #{$viewport-xlarge} {
        height: 249px;
      }
    }
    .article__category {
      font-family: $font-sans-serif;
      font-size: 9px;
      line-height: 11px;
      font-weight: $serif-regular;
      margin-top: 20px;
      text-transform: uppercase;
    }
  
    .article__title {
      font-family: $font-sans-serif;
      font-size: 18px;
      font-weight: $sans-serif-semibold;
      line-height: 21px;
      margin-top: 10px;
  
      @media #{$viewport-medium} {
        font-size: 16px;
        line-height: 20px;
        font-weight: $serif-bold;
      }
    }
  
    .article__description {
      font-family: $font-serif;
      font-weight: $serif-regular;
      line-height: 20px;
      margin-top: 20px;
      font-size: 13px;
  
      @media #{$viewport-medium} {
        font-size: 12px;
        line-height: 18px;
      }
    }
  
    .article__more {
      font-family: $font-sans-serif;
      font-size: 12px;
      font-weight: $serif-bold;
      line-height: 15px;
      margin-top: 16px;
  
      .article__more__link {
        text-decoration: none;
        color: inherit;
      }
    }
  
  
  }
}
